%link#bootstrap-css{href: "//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel: "stylesheet"}/
%script{src: "//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
/ ---- Include the above in your HEAD tag --------
.wrapper.fadeInDown
  #formContent
    / Tabs Titles
    / Icon
    .fadeIn.first
      %img#icon{alt: "User Icon", src: "http://danielzawadzki.com/codepen/01/icon.svg"}/
    / Login Form
    %form
      %input#login.fadeIn.second{name: "login", placeholder: "login", type: "text"}/
      %input#password.fadeIn.third{name: "login", placeholder: "password", type: "text"}/
      %input.fadeIn.fourth{type: "submit", value: "Log In"}/
    / Remind Passowrd
    #formFooter
      %a.underlineHover{href: "#"} Forgot Password?
                
%h2 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, required: false,autofocus: true,input_html: { autocomplete: "email" } 
    = f.input :password, required: false, input_html: { autocomplete: "current-password" }
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Log in"
= render "devise/shared/links"
